* {
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    padding: 0;
    margin: 0;
    text-align: center;
}

html {
    font-size: 22px;
}

header {
    height: 69px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid seashell;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
}

header img {
    height: 50px;
    margin-left: 10px;
}

header nav li {
    display: inline;
    margin-left: 15px;
    text-decoration: underline;
}

section {
    margin-top: 69px;
}

#mission {
    background-image: url(./ressources/img-mission-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 69px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1200px;
}

.hero {
    opacity: 1;
    width: 100%;
}

#featured {
    display: flex;
    width: 1000px;
}